<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationtrackertailwebs">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name=".controler.InitRealm"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ChatBotActivity"></activity>
        <activity android:name=".view.StudentForm"
            android:theme="@style/StatusBarThemeLogin"></activity>
        <activity android:name=".view.StudentDetailsActivity"
            android:theme="@style/StatusBarThemeStudent"/>
        <activity
            android:name=".view.DashboardActivity"
            android:theme="@style/StatusBarThemeLogin" />
        <activity
            android:name=".view.TrackingPage"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarThemeLogin" />
        <activity
            android:name=".view.TrackingHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarThemeLogin" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarThemeLogin" />
        <activity
            android:name=".view.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarTheme" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MapActivity" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarThemeLogin" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3ueR_FlIVZrVbdRj6C8PO9PpX9vvCkJs" />

        <service
            android:name=".controler.service.LocationService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>